<div class="container">
    <div class="row mt-5">
        <h1 class="d-inline">{{ropa.nombre}}</h1> <p class="creacion ml-2 d-inline mt-2">({{ropa.creacion}})</p>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
        <img src="{{ropa.img}}" alt="">
        <button class="btn btn-outline-danger btn-md btn-block" [routerLink] = "['/ropas']">regresar</button>
        </div>
        <div class="col-md-6">
        <h3 class="">{{ropa.nombre}}</h3>
        <hr>
        <p>{{ropa.bio}}</p>
        <img class="logo" src="assets/img/{{ropa.fabrica}}.jpg" alt="">
        </div>
    </div>

   
</div>