
<div class="container" *ngIf = "ropas">
    <div class="row">  
        <div class="card-columns">
            <div class="card" *ngFor = "let ropa of ropas">
                <img src="{{ropa.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ropa.nombre}}</h5>
                    <p class="card-text">{{ropa.bio}}</p>
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click) = "verDetalle(ropa.nombre)">ver mas...</button>
                </div>
            </div>        
        </div>         
    </div>
</div>

<div class="container" *ngIf = "ropas.length == 0" >
    <div class="container">
        <div class="jumbotron jumbotron-fluid mt-3">
            <div class="container">
              <h1 class="display-4">Ropas</h1>
              <p class="lead">No se encontro la prenda {{nameRopa}}</p>
            </div>
        </div>
    </div>
</div>